.toolbar {
  width: 50%;
  display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-log {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-player-name {
  color: gray;
}

.modal-log-lp {
  min-width: 160px;
}


.sides {
  display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.side {
  width: 450px;
  display: flex;
	flex-direction: column;
}

.lp-box-left {
  display: flex;
  justify-content: flex-start;
}

.lp-box-right {
  display: flex;
  justify-content: flex-end;
}

.lp-parent {
  padding: 10px;
  width: 250px;
  margin-top: 10px;
}

.deck-selector {
  margin-bottom: 10px;
}

.lp {
  font-size: 30px;
  text-align: right;
}

.button {
  width: 100px;
  height: 60px;
}

.button-row {
  padding: 15px;
}
